body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5ebe0;



}

.main {
    width: 90%;

    margin: 20px auto;
    background-color: #c6ac8f;
    box-shadow: 0 0 15px lavenderblush;
}

.container {
    display: flex;
    height: 100vh;




}

.box,
.box1 {
    width: 40%;
    padding: 20px;
    border-right: 1px solid gray;
}

.add,
.price {

    border: 2px solid black;
}
.message{
    color: red;
    font-size: 14px;
    margin-top: 8px;
}


.productlist {
    margin-left: 15%;
    width: 50%;
    height: 30px;
}

.cart {
    margin-left: 30%;
    border: 2px solid black;
}

.m {
    margin-left: 19%;
}

.B {
    background-color: #d5bdaf;
}

/* .number {
    display: grid;
} */

.one {
    width: 25%;
    border: 2px solid black;
}

.pay {
    margin-left: 50%;
    border: 2px solid black;
    width: 50%;
}

.rec {
    background-color: white;
}